/* styling lists */
h1 {text-align: center;}

/* generic styles so you can see the shape of <ul> and <li> */
ul {border: dashed 1px #000;background: #aad;}
li {border: solid 1px #833; background-color: #c99;}

/* List #1 - basic: */
ul#list1 {padding:0; margin:0; list-style-type:none;}
ul#list1 li {padding:0;margin:0;}


/* List #2 - Basic vertical  list - testing properties
/* list-stle-type */
#list2{
  list-style-type: lower-greek; /*lower-roman georgian ,  */
}

#list2{
  list-style-position: inside;
}

/* list-style-image vs background-image */
td {border: solid 1px blue;}

#list3 {
  width: 400px;
  /*list-style-type:none;*/
  list-style-image: url(smiley.gif);
	/*padding-left: 100px;*/
}
/*#list3 li {visibility:hidden;}*/
#list3a {
  width: 400px;
  list-style-type:none;
  
}
#list3a li {
	background: /*transparent*/#c99 url(smiley.gif) no-repeat left center;
	padding-left: 30px;
	margin-left: 50px;
}

/* List #4 - vertical navbar */
ul#list4 {
	margin:0;
	padding:0;
	list-style-type:none;
	width:150px;
}

#list4 li {
	text-align:center;
	margin-left:.5em;
}
#list4 li a {
	background-color: #ccc;
	display:block;
	margin: 10px 0;
	padding: 5px 0;
	text-decoration:none;
}

#list4 li a:hover {background-color: yellow;}

/* List #5 - horizontal navbar*/
#list5 {margin:0; padding:5px 0; list-style-type:none;}
#list5 li {
	display:inline;
	padding: 0 1.5em;
	margin: 0 1.5em;
}
#list5 li a {
	background-color: #ccc;
	/*margin: 10px 0;*/
	padding: 2px 10px;
	text-decoration:none;

}
#list5 li a:hover {background-color: yellow;}