/* CSSPlay */

html {
	color:#000; 
	background:#fff;}
body {
	text-align:center; 
	font-family:verdana, arial, helvetica, sans-serif; 
	font-size:76%; 
	color:#000; 
	padding:0; 
	border:0; 
	margin:0; 
	background:#fff;}
a, a:visited {color:#000;}
a:hover {text-decoration:none;}
ul#cssplay_main_menu {
	position:absolute; 
	top:10px; 
	right:0; 
	border:0; 
	padding:0; 
	margin:0; 
	list-style-type:none;}
ul#cssplay_main_menu li {
	display:block; 
	width:75px; 
	height:90px; 
	float:left; 
	margin-left:1px; 
	position:relative;}
ul#cssplay_main_menu li a{
	display:block; 
	width:75px; 
	height:80px; 
	text-decoration:none; 
	border-top:10px solid #fff; 
	color:#000;
	font-family:"trebuchet ms", tahoma, arial, verdana, sans-serif;
	position:relative;}
* html ul#cssplay_main_menu li a {height:90px; he\ight:80px;}
ul#cssplay_main_menu li a b {font-weight:normal; position:absolute; bottom:5px; left:5px;}
ul#cssplay_main_menu li a.mm1 {background:#dfd7ca; border-top:10px solid #dfd7ca;}
ul#cssplay_main_menu li a.mm2 {background:#b2ab9b; border-top:10px solid #b2ab9b;}
ul#cssplay_main_menu li a.mm3 {background:#c9ba65; border-top:10px solid #c9ba65;}
ul#cssplay_main_menu li a.mm4 {background:#e2dfa8; border-top:10px solid #e2dfa8;}
ul#cssplay_main_menu li a.mm5 {background:#d4d8bd; border-top:10px solid #d4d8bd;}
ul#cssplay_main_menu li a.mm6 {background:#949e7c; border-top:10px solid #949e7c;}
ul#cssplay_main_menu li a.mm7 {background:#758279; border-top:10px solid #758279;}
ul#cssplay_main_menu li a:hover {border-top:10px solid #fff; cursor:pointer;}
ul#cssplay_main_menu li em {
	font-weight:normal; 
	position:absolute; 
	bottom:5px; 
	left:5px; 
	font-style:normal; 
	font-family:"trebuchet ms", tahoma, arial, verdana, sans-serif;}
ul#cssplay_main_menu li a em {
	font-weight:normal; 
	position:absolute; 
	bottom:5px; 
	left:5px; 
	font-style:normal; 
	font-family:"trebuchet ms", tahoma, arial, verdana, sans-serif;}


