<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!-- VARIATION on Example from:
250 HTML and Web Design Secrets
by Molly E. Holzschlag
Copyright: 2004
Wiley Publishing, Inc.
-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Nested DIV Example</title>

<style type="text/css">

#content {
	border: 1px solid #000;
}
#content #nav {
	border-left: 1px solid #000;
	border-bottom: 1px solid #000;
	float: right;
	width: 250px;
	background: #ccc;
	margin: 0px 0px 10px 10px;
}

</style>
</head>

<body>


<div id="content">

<div id="nav">
	<ul>
		<li><a href="home.html">Home</a></li>
		<li><a href="books.html">Books</a></li>
		<li><a href="articles.html">Articles</a></li>
		<li><a href="events.html">Events</a></li>
		<li><a href="courses.html">Courses</a></li>
		<li><a href="consultation.html">Consultation</a></li>
		<li><a href="about.html">About Me</a></li>
		<li><a href="fun.html">Fun Stuff</a></li>
	</ul>
</div>

<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse et elit. In ut elit non pede luctus placerat. Nullam porta luctus mauris. Etiam a mauris ac justo rutrum faucibus. Vivamus dictum malesuada dui. Aliquam erat volutpat. Nullam nulla. Mauris eleifend commodo wisi. Pellentesque euismod mattis enim. Mauris tempor odio. Cras pellentesque orci quis diam. Vestibulum id tortor. Quisque sed nisl quis urna aliquam ultrices.</p>

<p>Sed pulvinar tellus sed quam. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec purus nibh, sodales quis, dictum in, imperdiet a, turpis. Mauris facilisis purus id arcu. Nullam metus ligula, pretium at, dapibus varius, venenatis et, orci. Cras rutrum quam id sapien. In adipiscing scelerisque enim. Suspendisse nec ipsum ut dui pretium consequat. Nunc iaculis enim id ipsum. Nunc felis.</p>

<p>Mauris sit amet erat. Suspendisse est. Suspendisse felis. Ut porttitor elit nonummy lacus. Donec lacus sapien, congue a, vehicula sagittis, gravida at, dui. Nam tellus enim, suscipit at, cursus non, rutrum et, sapien. Morbi cursus elit et urna. Proin ac odio. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Praesent feugiat congue dolor. Ut lacinia eros ac nunc. Maecenas interdum convallis eros. Nulla ac ipsum ut dui consectetuer scelerisque. </p>
</div>

</body>
</html>
