<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>Chapter 11 Beginning CSS Web Development (APress) example</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link type="text/css" rel="stylesheet" href="columns.css" />
</head>
<body>
<div id="masthead"><h1>Masthead</h1></div>

<div id="sidebar">
  <h3>Sidebar</h3>
  <ul>
    <li>Item One</li>
    <li>Item Two</li>
    <li>Item Three</li>
    <li>Item Four</li>
  </ul>
</div>

<div id="content">
  <h2>Content</h2>
  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam ut nibh at eros tincidunt vulputate. In eu augue. Aliquam erat volutpat. Aenean rhoncus nibh scelerisque dolor. Cras ultricies lacinia orci. Integer in arcu. Cras ac justo. Aliquam libero. Vestibulum vestibulum pede in ligula. </p>
  <p>Sed leo nibh, posuere quis, facilisis eget, luctus sit amet, augue. Donec eu justo eget est ultrices aliquet. Vestibulum volutpat leo ut ante. Curabitur quis tellus. Aenean consectetuer arcu ac nunc. Fusce tempor. Suspendisse potenti. Sed in purus. Aliquam est. </p>
  <p>Fusce id neque. Nulla vel purus. Donec ut enim quis velit mollis dignissim. Integer viverra enim ut odio. Morbi tellus libero, congue in, ultricies sit amet, dignissim sit amet, massa. Phasellus augue. Nam lacus dolor, pellentesque vel, nonummy porta, dignissim in, mauris. </p>
</div>

<div id="footer"><p>Footer</p></div>
</body>
</html>