body {
	font-family: Verdana, Arial, sans-serif;
	font-size: 90%;
}
form {
	background: #eee;
	width: 80%;
	padding: 20px;
	margin: 0 auto;
	border-radius: 5px;
}
fieldset {
	width: 95%;
	margin: 0 auto;
	border-radius: 5px;	
	border: 1px solid #ccc;
}
legend{
	color: aqua;
	font-size: 120%;
	border-radius: 5px;	
}
label {
	float: left;
	width: 8em;
	color: #909090;
}

input {
	text-align: right;
}
#personal_info_left_column {
	float: left;
	width: 50%;

}
#personal_info_right_column {
	float: left;
	width: 50%;

}