<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://ado.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>ado.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ado</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$ado</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DemoGuestConnectionString" Order="1" Enabled="False">
          <Destination Path="Data Source=134.39.173.35;Initial Catalog=DemoGuest;Persist Security Info=True;User ID=DEMOGUEST;Password=Sp0kan3" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=134.39.173.35;Initial Catalog=DemoGuest;Persist Security Info=True;User ID=DEMOGUEST;Password=Sp0kan3" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DemoGuestConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=134.39.173.35;Initial Catalog=DemoGuest;Persist Security Info=True;User ID=DEMOGUEST;Password=Sp0kan3" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-lee_cis258_form-acdabc24-c4af-46d0-a181-283ce51242de.mdf;Initial Catalog=aspnet-lee_cis258_form-acdabc24-c4af-46d0-a181-283ce51242de;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-lee_cis258_form-acdabc24-c4af-46d0-a181-283ce51242de;AttachDbFilename=|DataDirectory|\aspnet-lee_cis258_form-acdabc24-c4af-46d0-a181-283ce51242de.mdf;Integrated Security=SSPI" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DemoGuestConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=134.39.173.35;Initial Catalog=DemoGuest;Persist Security Info=True;User ID=DEMOGUEST;Password=Sp0kan3</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>